{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div>
        {{ form_label(form.text, 'My text custom label') }}
        {{ form_widget(form.text) }}

        {#Don't display error for this field because it is handled by bootstrap theme label #}
        {#{{ form_errors(form.text) }}#}
        {{ form_help(form.text) }}
    </div>

    <p>Testing field full name: {{ form.text.vars.full_name }}</p>
    <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(form) }}
{% endblock %}